<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title style="font-family: Times New Roman, Times, serif;">Sign-Up</mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
        <form [formGroup]="signupForm">
            <div class="example-container">
              <mat-form-field style="width: 247px;">
                <mat-label>User Name</mat-label>
                <input matInput [formControl]="userName" required>
                <mat-error *ngIf="signupForm.get('userName')?.hasError('required')">User name is required</mat-error>
              </mat-form-field>

                <mat-form-field style="width: 247px;">
                  <mat-label>Enter your email</mat-label>
                  <input matInput placeholder="mayur@example.com" [formControl]="email" (blur)="updateEmailErrorMessage()" required
                  />
                  @if (email.invalid) {
                    <mat-error>{{errorMessageEmail()}}</mat-error>
                  }
                </mat-form-field>
    
                <mat-form-field>
                    <mat-label>Enter your password</mat-label>
                    <input matInput [formControl]="password" [type]="hide() ? 'password' : 'text'" (blur)="updatePasswordErrorMessage()" required/>
                    <button
                      mat-icon-button
                      matSuffix
                      (click)="hideUnhidePassword($event)"
                      [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide()"
                    >
                      <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    @if (password.invalid) {
                        <mat-error>{{errorMessagePassword()}}</mat-error>
                      }
                  </mat-form-field>

                  <mat-form-field>
                    <mat-label>Re-enter your password</mat-label>
                    <input matInput [formControl]="confirmPassword" [type]="hidePass() ? 'password' : 'text'" (blur)="updateconfirmPasswordErrorMessage()" required/>
                    <button
                      mat-icon-button
                      matSuffix
                      (click)="hideUnhideConfirmPassword($event)"
                      [attr.aria-label]="'Hide confirm password'"
                      [attr.aria-pressed]="hidePass()"
                    >
                      <mat-icon>{{hidePass() ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    @if (confirmPassword.invalid) {
                        <mat-error>{{errorMessageConfirmPassword()}}</mat-error>
                      }
                  </mat-form-field>
              </div>
        </form>
    </mat-card-content>
    <div class="btn-container">
      <a mat-fab extended [disabled]="!signupForm.valid" (click)="signup()"> 
          <mat-icon>login</mat-icon>   
          Sign-Up
        </a>
        <p>Already have an account? <a routerLink="/signin">Login</a></p>
   </div>
  </mat-card>
  